<!DOCTYPE html>
<html lang="en">
                <head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="description" content="" />
		<meta name="Aditya" content="" />
		<title>Aditya Portfolio</title>
		<link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
		<!-- Font Awesome icons (free version)-->
		<script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
		<!-- Google fonts-->
		<link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
		<link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
		<!-- Core theme CSS (includes Bootstrap)-->
		<link href="css/styles.css" rel="stylesheet" />
                </head>
                <body id="page-top">
					<!-- Navigation-->
					<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
						<a class="navbar-brand js-scroll-trigger" href="#page-top"
							><span class="d-block d-lg-none">Aditya</span><span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/img/Aditya_K.jpg" alt="" /></span></a
						><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
						<!-- <p style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: black; font-size: xx-large;">Aditya Karante</p> -->
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav">
								<li class="nav-item"><a class="nav-link js-scroll-trigger" href="index.html">About</a></li>
								<li class="nav-item"><a class="nav-link js-scroll-trigger" href="education.html">Education</a></li>
								<li class="nav-item"><a class="nav-link js-scroll-trigger" href="experience.html">Experience</a></li>
								<li class="nav-item"><a class="nav-link js-scroll-trigger" href="projects.html">Technical Projects</a></li>
								<li class="nav-item"><a class="nav-link js-scroll-trigger" href="skills.html">Skills</a></li>
								<li class="nav-item"><a class="nav-link js-scroll-trigger" href="awards.html">Achievements</a></li>
								<li class="nav-item"><a class="nav-link js-scroll-trigger" href="blog.html">Blog</a></li>
								<li class="nav-item"><a class="nav-link js-scroll-trigger" href="cocurricular.html">Co-curricular</a></li>
								<li class="nav-item"><a class="nav-link js-scroll-trigger" href="interests.html">Interests</a></li>
								<li class="nav-item"><a class="nav-link js-scroll-trigger" href="contact.html">Contact</a></li>
							</ul>
						</div>
					</nav>
					<div class="resume-section-content">
						<h2 class="mb-5">Deno is the new Node.js ?</h2>
						<p>About 3 months ago, Ryan Dahl (the inventor of Node.js) gave a talk in JSConf called “10 Things I Regret About Node.js”, were he regrets several design decisions he took over Node.js. About during the half of his talk, he showed us an experimental prototype called Deno that aimed to fix Node.js problems.</p>
						<p>Deno has reached v0.1 and I think that it’s on the right way to replace Node.js in the future.</p>
						<p><strong>What are the main issues with Node.js?</strong></p>
						<p>• Any program can write to the filesystem and the network</p>
						<p>This might be a security problem, especially when intalling untrusted packages from npm. The crossenv incident is an example. If crossenvhad not had writing permissions, this would not have happened.</p>
						<p>• Bad ageing async APIs</p>
						<p>Promises were included in 2009 but removed in february 2010 from Node.js. This has provoked that many libraries out there are still using callbacks as their way to manage async code..</p>
						<p>• The build system (GYP)</p>
						<p>Using GYP to build a module that links to a C library is a big pain. In order to have a sane DX you’ll have to use node-gyp (a layer on top of GYP) and maybe other layers (like nan). I’ve tried this by myself with a small project and yes, it’s a pain.</p>
						<p>• The module system and npm</p>
						<p>The main problem here is that the module system isn’t compatible with browsers so our code isn’t fully isomorphic. This is mainly caused by two reasons: storing dependencies in node_modules and having a package.json.</p>
						<p><strong>What is Deno?</strong></p>
						<p><i>“Deno is a secure TypeScript runtime built on V8”</i>
							― Ryan Dahl</p>
						<p><strong>Deno’s top features</strong></p>
						<p>• Security</p>
						<p>Deno by default won’t allow performing delicate actions, like reading environment variables or writing into the file system. We need to pass specific flags</p>
						<p>Deno process runs in a “non-privilege” mode by default, and for accessing delicate things like environment variables</p>
						<p>All the code runs without filesystem write, environment and network permissions. To allow this we must invoke demo with the --allow-write and --allow-net.</p>
						<p>All communications between Deno’s privileged process and v8 are by message passing (previously written in Go, now migrated to Rust). This allows a single auditable point for all communications.</p>
						<p><strong>Conclusion</strong></p>
						<p>There still a long time until Deno reachs a production-ready state, but I think it’s on the right path in order to be a better Javascript runtime than Node.js.</p>
						<p>Thanks for reading! </p>
					</div>
					<!-- Bootstrap core JS-->
					<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
					<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
					<!-- Third party plugin JS-->
					<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
					<!-- Core theme JS-->
					<script src="js/scripts.js"></script>
                </body>
</html>